<nav class="navigation-bar">
  <div class="navigation-bar__brand">AMT Compliance</div>
  <ul class="navigation-bar__links">
    <li>
      <a
        routerLink="/"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Forms</a
      >
    </li>
    <li>
      <a routerLink="/report" routerLinkActive="is-active">Report</a>
    </li>
    <li *ngIf="!authService.authStatus()">
      <a routerLink="/login" routerLinkActive="is-active">Login</a>
    </li>
    <li *ngIf="authService.authStatus()">
      <button class="navigation-bar__logout-button" type="button" (click)="logout()">
        Logout
      </button>
    </li>
  </ul>
</nav>
